<div class="left-sidebar">
	<h2>Loại Sản Phẩm </h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		
		<div class="panel panel-heading">
			<h4 class="panel-title">
				<li><a asp-controller="Products" asp-action="Index" class="auth-link"> Cần Câu</a></li>
			</h4>
			<h4 class="panel-title">
				<li><a asp-controller="Products" asp-action="Index" class="auth-link"> Thẻo</a></li>
			</h4>
			<h4 class="panel-title">
				<li><a asp-controller="Products" asp-action="Index" class="auth-link"> Mồi</a></li>
			</h4>
			<h4 class="panel-title">
				<li><a asp-controller="Products" asp-action="Index" class="auth-link"> Khác</a></li>
			</h4>
		</div>

		
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Brands</h2>

		<div class="panel panel-heading">
			<h4 class="panel-title">
				<li><a asp-controller="Products" asp-action="Index" class="auth-link"> Hãng</a></li>
			</h4>
		</div>

	</div><!--/brands_products-->

</div>

