<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		
		<div class="panel panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
					cần câu 
				</a>
			</h4>
		</div>

		
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Brands</h2>

		<div class="panel panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
				hãng
				</a>
			</h4>
		</div>

	</div><!--/brands_products-->

</div>

