@model IEnumerable<Data_FishingBee.Models.Manufacturer>

@{
    ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="features_items">
    <h2 class="title text-center">Hãng sản Phẩm</h2>
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-product">
                        @* Chuyển đến trang tạo thành bởi list các đối tượng có trùng id product với các bản ghi là của ProductDetail *@
                        <a asp-action="Details" asp-controller="ProductDetails" asp-route-id="@item.Id">
                            <div class="productinfo text-center">
                                <img src="@item." width="100px" height="200px" />
                                <h2>@item.Name</h2>
                                <img src="@Url.Action("GetFirstProductImage", "Product", new { brand = "Tên_Hãng" })" alt="Ảnh sản phẩm đầu tiên">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-center text-danger">Không có sản phẩm nào để hiển thị.</p>
    }
</div>
