@model IEnumerable<Data_FishingBee.Models.ProductViewModel>
@{
    ViewData["Title"] = "PRO131_FishingBee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-3">
    <partial name="_SidebarPartial" />
</div>
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <h2 class="title text-center"></h2>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-product">
                            @* Chuyển đến trang tạo thành bởi list các đối tượng có trùng id product với các bản ghi là của ProductDetail *@
                            <a asp-action="Details" asp-controller="ProductDetails" asp-route-id="@item.Id">
                                <div class="productinfo text-center">
                                    <img src="@item.ImageUrl" width="100px" height="200px" />
                                    <h2>@item.MinPrice</h2>
                                    <p>@item.Name</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center text-danger">Không có sản phẩm nào để hiển thị.</p>
        }
    </div>

</div>
@* <div class="col-sm-3">
    <partial name="" />
</div>
 *@
@* <div>
    <button id="checkSessionBtn" class="btn btn-primary">Kiểm tra Session</button>

    <p id="sessionStatus" class="text-info"></p>
</div> *@

<script>
    document.getElementById("checkSessionBtn").addEventListener("click", function () {
        fetch("/Home/CheckSession")
            .then(response => response.text())
            .then(data => {
                document.getElementById("sessionStatus").innerText = "CartId: " + data;
            })
            .catch(error => console.error("Lỗi kiểm tra session:", error));
    });
</script>
